
<head>

    <title>Role</title>
</head>

<body>


   

    <div class="nr">
        <div class="wenzi">
            <!--ÎÄ×Öwenzi-->
            <p>
                <h1><em>Prince Xianle - Xie Lian</em></h1></br>
                &nbsp;&nbsp;&nbsp;<em>¡¾ Life Experience ¡¿:</em></br>
                &nbsp;&nbsp;&nbsp;The Crown Prince of Xianle Kingdom practiced at Huangji Temple in Taicang Mountain when he was young, under the guidance of Mei Nianqing. At the age of seventeen, he played the role of Yue Shenwu in the Yuanji Tianyou on Shenwu Street, saving a child who had fallen from the city wall. His mask fell off and he became known as the "Prince Yue Shen"
            </p>

            <video controls="controls" width="500" height="300">
                <source src="~/Content/images/music/p2.mp4" type="video/mp4" />
            </video>
            </br>
            </br>
            </br>
            </br>

            <p>
                <h1><em>Endless Ghost King - Hua Cheng</em></h1></br>
                &nbsp;&nbsp;&nbsp;<em>¡¾ Life Experience ¡¿:</em></br>
                &nbsp;&nbsp;&nbsp;The Eight Characters of Birth are extremely dangerous, with good luck breaking through the sky and bad luck breaking through the earth. At birth, he seemed to have absorbed all the bad luck emanating from the copper furnace, and his destiny was the Tiansha Lone Star. I have been mistreated since childhood, I hate the world, and I don't understand the meaning of living. One day, I was beaten to the point where I wanted to commit suicide.
                Afterwards, the remaining souls wandered to Copper Furnace Mountain, practiced bleeding tools, and overcame the siege, becoming the <em>Endless Ghost King</em>. After Xie Lian's third ascent, he met Junshan again.
            </p>
        </div>

        <div class="xc">

            <div>
                <!-- <img src="~/Content/images/05.jpg" style="margin-right: 11px;" />-->

            </div>
            <!--
        <video controls="controls">
            <source src="~/Content/images/XLop.mp4" type="video/mp4" />
        </video>

        <video controls="controls">
            <source src="~/Content/images/First.mp4" type="video/mp4" />
        </video>
        -->
            <!--
        <div>
            <img src="~/Content/images/06.jpg" style="margin-bottom:10px; "/>

        </div>
        <div>
            <img src="~/Content/images/07.jpg" />
        </div>

        -->
            <video controls="controls" width="500" height="400">

                <source src="~/Content/images/music/p1.mp4" type="video/mp4" />

            </video>

        </div>

    </div>
</body>
</html>