
<head>

    <title>Photo</title>

</head>

<body>


    <!-- music -->
    <audio id="myAudio" autoplay loop>
        <source src="~/Content/images/music/qdy.mp3" type="audio/mpeg" />
        Your browser does not support the audio element.
    </audio>

    <script>
        var audio = document.getElementById("myAudio");

        document.addEventListener("click", function () {
            if (audio.paused) {
                audio.play();
            }
        });
    </script>

    <style>
        /* 隐藏默认音频控制条 */
        #myAudio {
            display: none;
        }
    </style>


    </div>
    <div class="nr">
        <div class="tit">Photo</div>
        <div class="caiz">
            <ul>
                <li>
                    <a target="_self" href="#">
                        <div>
                            <img src="~/Content/images/L1.jpg" />
                        </div>

                        <p>Photo①</p>
                    </a>
                </li>
                <li>
                    <a target="_self" href="#">
                        <div>
                            <img src="~/Content/images/L2.jpg" />
                        </div>

                        <p>Photo②</p>
                    </a>
                </li>
                <li>
                    <a target="_self" href="#">
                        <div>
                            <img src="~/Content/images/L3.jpg" />
                        </div>

                        <p>Photo③</p>
                    </a>
                </li>
                <li>
                    <a target="_self" href="#">
                        <div>
                            <img src="~/Content/images/L4.jpg" />

                        </div>

                        <p>Photo④</p>
                    </a>
                </li>
                <li>
                    <a target="_self" href="#">
                        <div>
                            <img src="~/Content/images/L5.jpg" />

                        </div>

                        <p>Photo⑤</p>
                    </a>
                </li>
                <li>
                    <a target="_self" href="#">
                        <div>
                            <img src="~/Content/images/L6.jpg" />
                        </div>

                        <p>Photo⑥</p>
                    </a>
                </li>
                <li>
                    <a target="_self" href="#">
                        <div>
                            <img src="~/Content/images/L7.jpg" />
                        </div>

                        <p>Photo⑦</p>
                    </a>
                </li>
                <li>
                    <a target="_self" href="#">
                        <div>
                            <img src="~/Content/images/L8.jpg" />

                        </div>

                        <p>Photo⑧</p>
                    </a>
                </li>
            </ul>

        </div>

    </div>

    </div>
    <!------网站主体结束--------------------------->

</body>




